body{
    font-family: 'Nunito', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
nav a{
    padding: .5rem;
}
nav{
    height: 60px;
    padding: 10px;
    display: flex;
}
.link-nav{
    margin-right: 10px;
}
.link-nav:hover{
    background-color: #f74747;
    color: white;
    border-radius: 5px;
}
li{
    border: 1px solid rgb(165, 161, 161);
    border-radius: 5px;
    background-color: rgb(255, 247, 247);
    padding: 10px;
    margin: 5px;
}
li:hover{
    background-color: #f74747;
    color: white;
}
form:not(#delete){
    background-color: white;
    border: 1px solid #dddddd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000000f;
}
form div{
    margin: 10px;
}
form input{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
}
form label{
    display: inherit;
    font-size: .9rem;
    padding-bottom: 3px;
    color: #0807079d;
}
.add{
    border: 1px solid rgb(165, 161, 161);
    padding: 10px 25px;
    font-size: 1.1rem;
    margin: 10px 0;
    border-radius: 5px;
}
.add:hover{
    background-color: #b11919;
    color: white;
}
.form-error{
    color: #f74747;
    font-size: .8rem;
    margin: 0;
}
.edit{
    background-color: yellow;
    color: black;
    border: 1px solid rgb(165, 161, 161);
    padding: 5px 25px;
    font-size: 1.1rem;
    margin: 10px 0;
    border-radius: 5px;
}
.edit:hover{
    background-color: #e9f814;
}
.delete{
    background-color: #f74747;
    color: white;
    border: 1px solid rgb(165, 161, 161);
    padding: 5px 25px;
    font-size: 1.1rem;
    margin: 10px 0;
    border-radius: 5px;
}
.delete:hover{
    background-color: #b11919;
    color: white;
}